In [1]:
%load_ext autoreload
%autoreload
%cd /home/jupyter/MathVGerrmandering_CMAT_2021/
from src.mcmc import *
level    = 'cntyvtd'
proposal = 'plans2168'  # for 2010 enacted, use 'planc2100' for US congress, 'plans2100' for TX Senate, or 'planh2100' for TX House
contract = 'proposal'
M = MCMC(level=level, proposal=proposal, contract=contract, max_steps = 0)
tbls = {x: M.tbls['hash'].replace('hash', f'final_{x}') for x in ['stats', 'plan', 'hashes', 'county', 'district', 'summary']}

/home/jupyter/MathVGerrmandering_CMAT_2021
getting states
Get crosswalks  ... using existing table ... success!
Get assignments ... using existing table ... success!
Get shapes      ... using existing table ... success!
Get census      ... using existing table ... success!
Get elections   ... using existing table ... success!
Get countries   ... using existing table ... success!
Get proposals   ... using existing table ... success!
Get joined      ... using existing table ... success!
Get tabblock    ... using existing table ... success!
Get bg          ... using existing table ... success!
Get tract       ... using existing table ... success!
Get cntyvtd     ... using existing table ... success!
Get cnty        ... using existing table ... success!
Get all         ... using existing table ... success!
Get proposal    ... using existing table ... success!
Get nodes       ... using existing table ... success!
Get districts   ... using existing table ... success!
Get graph       ... processing ... using existing graph ... success!

In [2]:
q = f"select count(*) from (select distinct random_seed, plan from {tbls['stats']})"
ensemble_size = run_query(q).iloc[0][0]
ensemble_size

325495

In [4]:
q = f"select count(*) from (select hash_plan plan from {tbls['hashes']})"
ensemble_size = run_query(q).iloc[0][0]
ensemble_size

325495

In [4]:
q = f"select  from {tbls['hashes']} where plan=0"
run_query(q)

   random_seed  plan            hash_plan
0         1005     0 -3671201977612316089

In [ ]:
q = f"select random_seed, plan from {tbls['stats']} where plan=0"
run_query(q)

In [ ]:
for seed in range(1000, 1080):
    q = f"SELECT A.hash FROM `cmat-315920.TX_2020_sldu_plans2168.cntyvtd_proposal_{seed}_summary` as A where plan=0"
    try:
        w = run_query(q).iloc[0][0]
        print(f'seed {seed} shows {w}')
    except:
        print(f'seed {seed} failed')

seed 1000 failed
seed 1001 failed
seed 1002 failed
seed 1003 failed
seed 1004 failed
seed 1005 shows -3671201977612316089
seed 1006 shows -3671201977612316089
seed 1007 shows -3671201977612316089
seed 1008 shows -3671201977612316089
seed 1009 shows -3671201977612316089
seed 1010 shows -3671201977612316089
seed 1011 shows -3671201977612316089
seed 1012 shows -3671201977612316089
seed 1013 shows -3671201977612316089
seed 1014 shows -3671201977612316089
seed 1015 shows -3671201977612316089
seed 1016 shows -3671201977612316089
seed 1017 shows -3671201977612316089
seed 1018 shows -3671201977612316089
seed 1019 shows -3671201977612316089
seed 1020 shows -3671201977612316089
seed 1021 shows -3671201977612316089
seed 1022 shows -3671201977612316089
seed 1023 shows -3671201977612316089
seed 1024 shows -3671201977612316089
seed 1025 shows -3671201977612316089
seed 1026 shows -3671201977612316089
seed 1027 shows -3671201977612316089
seed 1028 shows -3671201977612316089
seed 1029 shows -3671201977612316089
seed 1030 shows -3671201977612316089
seed 1031 shows -3671201977612316089
seed 1032 shows -3671201977612316089
seed 1033 shows -3671201977612316089
seed 1034 shows -3671201977612316089
seed 1035 shows -3671201977612316089
seed 1036 shows -3671201977612316089
seed 1037 failed
seed 1038 shows -3671201977612316089
seed 1039 shows -3671201977612316089
seed 1040 failed
seed 1041 failed
seed 1042 failed
seed 1043 failed